<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<link rel="stylesheet" href="/css/mycss.css">
<h4>Welcome to the Anxious Forum</h4>
<p>This forum is for those looking to share their thoughts and questions on any type of anxiety.</p>
<p>If you are looking for resources on how to cope: |<a href="https://nyprojecthope.org/?utm_medium=G1Search&utm_source=Google&utm_campaign=OMHProjectHOPERSPGrant">NYProject Hope</a> |<a href="https://www.counseling.org/knowledge-center/mental-health-resources/anxiety">American Counseling Association</a></p>

<h6>Click here to check out the threads or create your own : </h6>
<p><a href='/start/new'>| Create a thread </a>
<a href="/start/id">| Thread</a></p>
<%- include('./partials/footer.ejs') %>
